<!-- WELCOME SECTION -->
<div class="container-fluid">
  <div class="row mt aboutSection">
    <h1>About Gibu</h1>
    <div class="col-md-12">
      <p>Gibu, was started by four young enterpreneurs seeking to further their education in the tech space. Gibu has a grown into a broad platform where users can fundraise for a variety of projects, while contributors can donate to their friends or support things they feel passionate about.</p>
    </div>
    {{!--<div class="col-md-12">
      <button type="button" class="btn btn-green center-block">Start Your Fundraising Campaign Now</button>
    </div>--}}
    <div class="col-md-12 text-center">
      <br>
        <p> Created by Nathan | Abanda | Jihyun | Igor | Asha </p>
    </div>
  </div><!-- row -->
</div><!-- container -->
