<link rel="stylesheet" href="css/dashboard.css" />
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Hi, <span class="username-text">{{user.username}}</span></h1>
      <h1><a href="/logout">Logout</a></h1>
      <h1><a href="/newcampaign">Create a new campaign</a></h1>
      {{#each projects}}
        <h2>{{this.name}}</h2>
      {{/each}}
    </div>
  </div>
</div>
