<!-- MAIN IMAGE SECTION -->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 mainLogo animated flipInX">
        <h1>Gibu</h1>
        <div class="spacer"></div>
        <i class="fa fa-angle-down"></i>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->


      <!-- FEATURED PROJECTS SECTION -->
    <div id="portfolio">
      <div class="container">
        <div class="row">
          <h2 class="FeaturedProjects">Featured Projects:</h2>
        </div>

        <div class="row mt">
        <ul class="grid effect-2" id="grid">
          
          <li>
            <div class="center-text">
              <h3>Feed the Cats</h3>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
              <p>Goal: $3,000</p>
              <p>Raised: $1,000</p>
            </div>
          </li>
          
          <li>
            <div class="center-text">
              <h3>Feed the Cats</h3>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
              <p>Goal: $3,000</p>
              <p>Raised: $1,000</p>
            </div>
          </li>
          
          <li>
            <div class="center-text">
              <h3>Feed the Cats</h3>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
              <p>Goal: $3,000</p>
              <p>Raised: $1,000</p>
            </div>
          </li>
          
        </ul>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- portfolio -->

          <!-- NEWEST PROJECTS: -->
    <div id="portfolio">
      <div class="container">
        <div class="row">
          <h2 class="FeaturedProjects">Newest Projects:</h2>
        </div>

        <div class="row mt">
        <ul class="grid effect-2" id="grid">
          
          <li><a href="singleproject.html"><img src="./imgs/3.jpg"></a></li>
          
          <li><a href="singleproject.html"><img src="./imgs/9.jpg"></a></li>
          
          <li><a href="singleproject.html"><img src="./imgs/5.jpg"></a></li>
          
        </ul>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- portfolio -->

          <!-- CLOSE TO FUNDING GOAL PROJECTS: -->
    <div id="portfolio">
      <div class="container">
        <div class="row">
          <h2 class="FeaturedProjects">Nearly Funded Projects:</h2>
        </div>

        <div class="row mt">
        <ul class="grid effect-2" id="grid">
          
          <li><a href="singleproject.html"><img src=" ./imgs/3.jpg"></a></li>
          
          <li><a href="singleproject.html"><img src="./imgs/9.jpg"></a></li>
          
          <li><a href="singleproject.html"><img src="./imgs/5.jpg"></a></li>
          
        </ul>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- portfolio -->

  <!-- WELCOME SECTION -->
    <div class="container">
      <div class="row mt aboutSection">
        <div class="col-lg-8">
          <h1>About Gibu</h1>
          <p>Gibu, was started by four young enterpreneurs seeking to further their education in the tech space. Gibu has a grown into a broad platform where users can fundraise for a variety of projects, while contributors can donate to their friends or support things they feel passionate about.</p>
        </div>
        <div class="col-lg-4">
          <p class="pull-right"><br><button type="button" class="btn btn-green">Start Your Fundraising Campaign Now</button></p>
        </div>
      </div><!-- /row -->
    </div><!-- /.container -->