<!-- MAIN IMAGE SECTION -->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text center animated fadeIn outsideDiv1">
        <div class="animated fadeOut insideDiv1">
          <h2>Give</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text center animated fadeIn outsideDiv3">
        <div class="animated fadeOut insideDiv3">
          <h2>Donate </h2>
        </div>
      </div>
    </div> <!-- end row -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 mainLogo animated flipInX">
        <h1>Gibu</h1>
        <div class="spacer"></div>
        {{!-- <i class="fa fa-angle-down"></i> --}}
      </div>
      <div>
        <h2 class = "animated zoomIn headerSlogan">Support what matters</h2>
      </div>
    </div><!-- row -->
    <div class="row">
      <div class="col-lg-6 col-md-6 text center animated fadeIn outsideDiv4">
        <div class="animated fadeOut insideDiv4">
          <h2>Connect</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text center animated fadeIn outsideDiv2">
        <div class="animated fadeOut insideDiv2">
          <h2>Share</h2>
        </div>
      </div>
    </div> <!-- end row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

      <!-- FEATURED PROJECTS SECTION -->
    <div id="portfolio">
      <div class="container">
        <div class="row">
          <h2 class="FeaturedProjects">Featured Projects:</h2>
        </div>

        <div class="row mt">
        <ul class="grid effect-2" id="grid">
          
          <li>
            <div class="center-text">
              <h3>Feed the Cats</h3>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
              <p>Goal: $3,000</p>
              <p>Raised: $1,000</p>
            </div>
          </li>
          
          <li>
            <div class="center-text">
              <h3>Feed the Cats</h3>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
              <p>Goal: $3,000</p>
              <p>Raised: $1,000</p>
            </div>
          </li>
          
          <li>
            <div class="center-text">
              <h3>Feed the Cats</h3>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
              <p>Goal: $3,000</p>
              <p>Raised: $1,000</p>
            </div>
          </li>
          
        </ul>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- portfolio -->

    <iframe width="630" height="472"
src="https://www.youtube.com/embed/XGSy3_Czz8k" class="center-block">
    </iframe>

          <!-- NEWEST PROJECTS: -->
    <div id="portfolio">
      <div class="container">
        <div class="row">
          <h2 class="FeaturedProjects">Newest Projects:</h2>
        </div>

        <div class="row mt">
          <ul class="grid effect-2" id="grid">
            
            <li>
              <div class="center-text">
                <h3>Feed the Cats</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
                <p>Goal: $3,000</p>
                <p>Raised: $1,000</p>
              </div>
            </li>
            
            <li>
              <div class="center-text">
                <h3>Feed the Cats</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
                <p>Goal: $3,000</p>
                <p>Raised: $1,000</p>
              </div>
            </li>
            
            <li>
              <div class="center-text">
                <h3>Feed the Cats</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
                <p>Goal: $3,000</p>
                <p>Raised: $1,000</p>
              </div>
            </li>
            
          </ul>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- portfolio -->

          <!-- CLOSE TO FUNDING GOAL PROJECTS: -->
    <div id="portfolio">
      <div class="container">
        <div class="row">
          <h2 class="FeaturedProjects">Nearly Funded Projects:</h2>
        </div>

        <div class="row mt">
          <ul class="grid effect-2" id="grid">
            
            <li>
              <div class="center-text">
                <h3>Feed the Cats</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
                <p>Goal: $3,000</p>
                <p>Raised: $1,000</p>
              </div>
            </li>
            
            <li>
              <div class="center-text">
                <h3>Feed the Cats</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
                <p>Goal: $3,000</p>
                <p>Raised: $1,000</p>
              </div>
            </li>
            
            <li>
              <div class="center-text">
                <h3>Feed the Cats</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of </p>
                <p>Goal: $3,000</p>
                <p>Raised: $1,000</p>
              </div>
            </li>
            
          </ul>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- portfolio -->

  <!-- WELCOME SECTION -->
    <div class="container-fluid">
      <div class="row mt aboutSection">
        <h1>About Gibu</h1>
        <div class="col-lg-12 col-md-12">
          <p>Gibu, was started by four young enterpreneurs seeking to further their education in the tech space. Gibu has a grown into a broad platform where users can fundraise for a variety of projects, while contributors can donate to their friends or support things they feel passionate about.</p>
        </div>
        <div class="col-lg-12 col-md-12">
          <button type="button" class="btn btn-green center-block">Start Your Fundraising Campaign Now</button>
        </div>
        <div class="col-lg-12 col-md-12 text-center">
          <br>
            <p> Created by Nathan | Abanda | Jihyun | Igor | Asha </p>
          
        </div>
      </div><!-- /row -->
    </div><!-- /.container -->