<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create a new campaign </h1>
      <form action="/signup" method="post">
          <label>Campaign Title</label>
          <input  id="campaignTitle" name="campaignTitle" placeholder="enter Gibu campaign title" type="text" />
          <label>Campaign Image url</label>
          <input id="imageUrl" name="imageUrl" placeholder="enter image url" type="text" >
          <label>Campaign Description</label>
          <input id="description" name="description" placeholder="enter campaign description" type="textarea" >
          <div class="form-actions">
              <button type="submit" class="">Sign Up</button>
              <div class="clearfix"></div>
          </div>
      </form>
    </div>
  </div>
</div>
