<div class = "wrapperProject">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-3 align-center">
			  <div class="welcomeMsg">
			  	<h1>Project Name</h1>
			  </div>
			  	<img src="http://cdn-wpmsa.defymedia.com/wp-content/uploads/sites/3/2014/01/Egg-donation-facts.jpg">
			  <div>Information about the project</div>
			  <br>
			  <div>Click below to donate to this project.</div>

			  <button type="button" class="btn btn-primary">Donate</button>	
			</div>
		</div>		
			
	</div>
</div>