<link rel="stylesheet" href="css/forms.css" />
<div class="container">
  <div class="row edit">
    <div class="col-sm-12">
      <div class="nice-form">
        <h1>Join Gibu Today!</h1>
        <form action="/signup" method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" name="username" placeholder="Username" type="text" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" placeholder="Password" type="password" >
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
