#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../imgs/donate.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.5;
  /*filter: grayscale(25%)*/
}

.form-group {
  /*padding: 0 15px;*/
}

.edit {
  margin-right: 0;
  margin-left: 0;
}

.nice-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.nice-form-campaign {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

#username,
#password,
#imageUrl,
#campaignTitle,
#description {
  width: 100%;
}